.combobox {
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 16px;
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue','Arail','sans-serif';
}

/* From http://fxexperience.com/2011/12/styling-fx-buttons-with-css/ */
.button-glassgrey {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button-glassgrey:hover {
    -fx-background-color: #ff8d8d;
}